* {
    font-family: 'Open Sans Condensed';
    box-sizing: border-box;
}
body {
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: #000;
}

.fz-35 {
    font-size: 35px;
}

.fz-23 {
    font-size: 23px;
}